<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homescreen">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomeScreen"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Screens.PostView"
            android:theme="@style/AppTheme.CustomTheme"
            android:exported="false" />
        <activity
            android:name=".Screens.FindUserScreen"
            android:exported="false" />
        <activity
            android:name=".Screens.ProfileView"
            android:exported="false" />
        <activity
            android:name=".Screens.SignUp"
            android:exported="true" />
        <activity
            android:name=".Screens.PostCreation"
            android:exported="true" />
        <activity
            android:name=".Screens.LoginScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Screens.SettingsScreen"
            android:exported="true" />
        <activity
            android:name=".Screens.FriendsScreen"
            android:exported="true" />
        <activity
            android:name=".Screens.HomeScreen"
            android:exported="true" />
        <activity android:name=".net_utils.Error"
            android:theme="@style/AppTheme.CustomTheme"/>

        <activity android:name=".net_utils.LoginFail"
            android:theme="@style/AppTheme.CustomTheme"/>
    </application>

</manifest>