<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.PerfectTen">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.PerfectTen.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Perfect Ten"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PerfectTen"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.example.PerfectTen.Screens.PostView"
            android:theme="@style/AppTheme.CustomTheme"
            android:label="Post View" />
        <activity
            android:name=".Screens.DMsScreen"
            android:exported="false" />
        <activity
            android:name="com.example.PerfectTen.Screens.FindUserScreen"
            android:label="Find User"/>



        <activity
            android:name=".Screens.AdminScreen"
            android:label="Admin"
            android:exported="false" />

        <activity
            android:name="com.example.PerfectTen.Screens.ProfileView"
            android:label="Profile View"
            android:exported="false" />
        <activity
            android:name="com.example.PerfectTen.Screens.SignUp"
            android:label="Sign Up"
            android:exported="true" />
        <activity
            android:name="com.example.PerfectTen.Screens.PostCreation"
            android:label="Make a Post"
            android:exported="true" />
        <activity

            android:name="com.example.PerfectTen.Screens.LoginScreen"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.PerfectTen.Screens.SettingsScreen"
            android:label="Settings"
            android:exported="true" />
        <activity
            android:name="com.example.PerfectTen.Screens.FriendsScreen"
            android:label="Friends"
            android:exported="true" />
        <activity
            android:name="com.example.PerfectTen.Screens.HomeScreen"
            android:label="Home"
            android:exported="true" />
        <activity android:name="com.example.PerfectTen.net_utils.Error"
            android:theme="@style/AppTheme.CustomTheme"/>

        <activity android:name="com.example.PerfectTen.net_utils.LoginFail"
            android:theme="@style/AppTheme.CustomTheme"/>
    </application>

</manifest>